*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
a{
   text-decoration: none;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
input, button {
    box-shadow: none;
    outline: none;
}
/* heder part css start */
.full_part{
    background-color: black;
    position: relative;
}
.main_image{
    background-image: url('../images/img-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 100vh;
    float: right;
    position: relative;
    z-index: -3;
}
.line_1{
    margin-top: 20px;
    margin-left: -138px;
    height: 15px;
    background-color: white;
}
.all_coldata{
    margin-left: -180px;
    color: white;
    background-color: rgba(237, 138, 88, 0.680);
    margin-top: -34px;
    padding-top: 50px;
    padding-left: 40px;
    position: relative;
    z-index: -1;
    height: 133vh;
}
.line_2{
    height: 15px;
    width: 125px;
    background-color: white;
}
.bi{
    font-size: 150px;
    font-weight: 300px;
}
.coded{
    font-size: 60px;
    padding-left:110px;
    margin-top: -23px;
}
.pera{
    font-size:30px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 110px;
}
.image-1{
    width: 150px;
    height:150px;
}
.all_image{
    padding-left: 40px;
}
.line_3{
    height: 10px;
    width: 15px;
    background-color: white;
}
.name{
    color: white;
    line-height: 130px;
    padding-left: 10px;
    border-left: 15px solid white;
    margin-left: -140px;
    margin-top: -380px;
}
.business{
    font-size: 200px;
    font-weight: 700;
}
.flyer{
    font-size: 100px;
}
.agency{
    font-size: 30px;
    line-height: 10px;
    padding-bottom: 110px;
}
.trend{
    font-size: 50px;
    color: white;
    font-weight: 800;
    text-orientation: upright;
    writing-mode: vertical-lr;
    background-color: rgba(237, 138, 88, 0.680);
    border: 8px solid white;
    margin-left: 250px;
    margin-top: 50px;
}
.data_name{
    font-size: 40px;
    font-weight: 700;
    color: white;
    line-height:48px;
    padding-top: 30px;
}
.details{
    color: white;
    padding-top: 20px;
}
.icon{
    font-size: 40px;
    padding-right: 20px;
}
.address_data{
    font-size: 20px;
    padding-top: 18px;
}
.all_addressdata{
    border-left: 15px solid white;
    margin-left: -140px;
    padding-left: 50px;
}
.information{
    background-color: rgba(65, 216, 207, 0.600);
    color: white;
    padding: 300px 70px 30px 70px;
    margin-top: -400px;
    margin-left: -30px;
    text-align: right;
    position: relative;
    z-index: -2;
}
.a1{
    font-size: 100px;
    font-weight: 700;
}
.info_1{
    font-size: 20px;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: 8px solid rgba(65, 216, 207, 0.600);
}
.all_icon{
    border-top: 8px solid rgba(52, 77, 77, 0.675);
    padding-top: 10px;
    text-align: center;
}
.ico{
    font-size: 90px;
    text-align: center;
    padding-inline: 35px;
}
.website{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
}

@media (max-width:1199px){
    .main_image{
        width:100%;
        /* height: 100%; */
    }
    .all_coldata{
        margin-left:0px;
        height: 400px;
    }
    .bi{
        font-size:90px;
    }
    .coded{
        font-size:35px;
        padding-left: 70px;
    }
    .pera{
        font-size:20px;
        padding-right: 20px;
    }
    .all_image{
        padding-bottom: 20px;
    }
    .all_addressdata{
        margin-left:0px;
        margin-left: 50px;
    }
    .line_1{
        margin-left:0px;
    }
    .information{
        margin-top: 20px;
    }
    .col-sm-12{
        margin:0px;
        padding: 0px;
    }
    .trend{
        text-orientation: sideways-right;
        writing-mode: horizontal-tb;
        text-align: center;
        margin-left: 0px;
        margin-bottom: 10px;
        width: 70%;
        margin: auto;
        margin-top: 30px;
    }
    .name{
        line-height:40px;
        margin-top: 0px;
        margin-left: 50px;
        padding-left: 50px;
        margin-top: 40px;
    }
    .business{
        font-size: 50px;
    }
    .flyer{
        font-size: 30px;
    }
    .agency{
        font-size: 20px;
        line-height: 15px;
        padding-bottom: 10px;
    }
    .data_name{
        font-size: 20px;
        font-weight: 400;
    }
    .information{
        padding: 30px 50px 30px 50px;
    }
    .icon{
        font-size: 20px;
    }
    .address_data{
        font-size: 15px;
        padding-top: 5px;
    }
    .ico{
        font-size: 40px;
        padding-inline: 20px;
    }
    .info_1{
        font-size: 18px;
    }
    .image-1{
        width: 100px;
        height: 100px;
    }
}